/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "normalize";
@import "navbar";
@import "left-section";
@import "right-section";
@import "main-section";
@import "footer";
@font-face {
   font-family: 'Alef';
   src: url('Alef-Regular.ttf');
}
@font-face {
   font-family: 'Alef-bold';
   src: url('Alef-Bold.ttf');
}
body {
  font-family: 'Alef', sans-serif;
  font-size: 1.5vw;
}