.right-section {
  position: absolute;
  top: 3.45%;
  right: 0.05%;
  width: 38%;
  height: 93.5%;
  z-index: 0;
}
.right-section-separator {
  position: fixed;
  top: 7%;
  right: 14.17%;
  transform: translateX(-50%);
  width: 0.23%;
  height: 87vh;
  background-color: #11587f;
  z-index: 1;
}